{
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "max-len": ["error", 80, 2],
  "trailingComma": "all",
  "tabWidth": 2,
  "bracketSpacing": true,
  "useTabs": false,
  "endOfLine": "lf"
}
